* {
  box-sizing: border-box;
}

body {
  font-family: 'Asap Condensed', sans-serif;
  background: #2c3e50;
  color: #ecf0f1;
  line-height: 1.618em;
}

body, ul, li{
  margin: 0;
  padding: 0;
}
body{
  background: #222;
}

.wrapper {
/*
  width: 85%;
  height: 100vh;
*/
  display: flex;

  margin: 0 auto;
}

/* Menubar */

header,.inner,footer {
  display : table-row;
}

header nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
header nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}

header nav li {
  display: inline-block;
  font-size: 1.0em;
  line-height: 30px;
  text-align: left;
  margin: 0;
  padding: 0;
}

header nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding-left: 10px;
  border-bottom: 1px solid #888;
  transition: .3s background-color;
}

header nav a:hover {
  background-color: #005f5f;
}

header nav a.active {
  background-color: #aaa;
  color: #444;
  cursor: default;
}

/* Sub Menus */
header nav > ul > li > ul > li {
  font-size: 0.9em;
}

/* Sub sub Menus */
header nav > ul > li > ul > li > ul > li {
  font-size: 0.8em; 
}

/* Footer */

footer {
  height: 20px;
  background-color: #444;
  font-size: 0.8em;
  text-align: left;
  color: #fff;
  padding: 2px 10px 2px 10px;
}


/* aside */

aside {
  font-size: 1.2em;
  /* font-weight: bold; */
  background: #333;

}

aside ul{
/*
  width:15%; 
  min-width: 100px;
  position: fixed;
*/
  height: 100vh;
  box-sizing: border-box;

}

aside li{
  list-style-type: none;
  padding: 4px 10px 4px 0px;
  border-bottom: 1px solid #222;
  transform: translateY(55px);
  /* text-align: center; */
  cursor: pointer;
  /* float: left; */
  margin-left: 10px;
}

aside #connect {
  font-weight: bold;
  font-size: 20px;
  color: red;
}

/*
aside a{
  color: #aaa;
  text-decoration: none;
  padding: 10px 10px;
}
*/

aside i{
  margin-right: 10px;
}

aside li.active{
  background: #fff; /*#ddd; */
  opacity: 1;
  color: #222;
}

aside li:not(.active):hover {
  background: #4c4c4c; /*#2c2c2c;*/
}
aside img{
  width: 30px;
  opacity: 0.6;
}
aside li:hover img, .active img{
  opacity: 1;
}

aside.jobs label{
  font-size: 1.6em;
}

aside.jobs ul {
  width: 15%;
  float: right;
  position: unset;
  font-size: 0.8em;
}

aside.jobs li {
  padding: 0px 0px;
}
aside.jobs a {
  padding: 0px 10px;
}

main {
  flex: 1 1 auto;
}
/* Tabs */

.tabs {
  height: 100vh;
  position: relative;
  margin: 3rem 0;
  background: #acacac;; /* #1abc9c; */
}
.tabs::before,
.tabs::after {
  content: "";
  display: table;
}
.tabs::after {
  clear: both;
}
.tab {
  float: left;
}
.tab-switch {
  display: none;
}
.tab-label {
  position: relative;
  display: block;
  line-height: 2.75em;
  height: 3em;
  padding: 0 1.618em;
  background: #acacac;; /* #1abc9c; */
  border-right: 0.125rem solid #888;
  color: #fff;
  cursor: pointer;
  top: 0;
  transition: all 0.25s;
}
.tab-label:hover {
  top: -0.25rem;
  transition: top 0.25s;
}
.tab-content {
  width:100%;
  min-height: 100vh;
  position: absolute;
  z-index: 1;
  top: 2.75em;
  left: 0;
  padding: 1.618rem;
  background: #fff;
  color: #2c3e50;
  border-bottom: 0.25rem solid #bdc3c7;
  opacity: 0;
  transition: all 0.35s;
}

.tab-content form label {
  display: inline-block;
  width: 150px;
  text-align: right;
  margin-right: 10px;
}

.tab-switch:checked + .tab-label {
  background: #fff;
  color: #2c3e50;
  border-bottom: 0;
  border-right: 0.125rem solid #fff;
  transition: all 0.35s;
  z-index: 1;
  top: -0.0625rem;

}
.tab-switch:checked + label + .tab-content {
  z-index: 2;
  opacity: 1;
  transition: all 0.35s;
}


.toolbar {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0;
    margin: 10px 0px;
}

.toolbar button {
  margin: 0 10px;
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
    margin: 10px 0px;
}

summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}

details[open] {
    padding: 0.5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
}

.row {
  display: flex;
  margin: 5px 0px;
}

/*.row:disabled > * {
  background-color: #ccc;
}
*/

.row label:first-child {
    width: 15%;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
}

/* Menubar */

@media screen and (min-width: 650px) {
  header nav li {
    width: 160px;
    border-bottom: none;
    height: 40px;
    /*line-height: 50px;*/
    font-size: 1.2em;
    display: inline-block;
    margin-right: -4px;
  }

  header nav a {
    border-bottom: none;
  }

  .helpmenu {
    float:right;
    list-style-type:none;
  }

  header nav > ul > li {
    text-align: center;
  }

  header nav > ul > li > a {
    padding-left: 0;
  }

  /* Sub Menus */
  header nav li ul {
    position: absolute;
    display: none;
    width: inherit;
  }

  header nav li:hover ul {
    display: block;
  }

  header nav li ul li {
    display: block;
    height: 30px;
    /*line-height: 40px;*/
  }

  /* Sub Sub Menus */

  .submenu > a::after, .checkbox > a::after {
    content: '\0025B8';
    text-align: right;
    float: right;
    margin-right: 10px;
  }

  header nav li:hover > ul > li > ul {
    position: absolute;
    display: none;
    width: inherit;
  }

  header nav li:hover > ul > li:hover > ul {
    position:relative;
    left: 100%;
    top: -100%;
    display: block;
  }

  /* Checkbox */

  .checkbox_item > a::before {
    content: '\02610';
    margin-right: 10px;
  }

  .checked {
      background-color: #ff5f5f;
  }

  .checked > a::before {
    content: '\02713';
    margin-right: 10px;

  }

  /* Separator */
  header nav .separator {
    height: 0px;
    border-bottom: solid 1px #ccc;
  }
}

/* Various inputs */

input[type=text], input[type=number], input[type=range], select {
  width: 220px;
}

input[type=text] {
  text-overflow: clip;
  overflow: hidden;
/*  text-align: left; */
}

.browse {
  margin-left: 4px;
}

/* Switch */

.switch {
  margin-top: 10px;
}

.switch.inactive > *:not(:first-child)  {
  font-style: italic;
  color: #aaa;
}

.switch_button {
  display: inline-block;
}

.switch_button input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
  float: left;
}


.switch_button label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 22px;
  background: grey;
  display: block;
  border-radius: 12px;
  position: relative;
}

.switch_button label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 9px;
  transition: 0.3s;
}

.switch_button input:checked + label {
  background: #bada55;
}

.switch_button input:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.switch_button input + label:active:after {
  width: 48px;
}


/* Icons */

i {
  margin: 0px 5px;
}

/* Dropdown menu */

.select-dropdown,
.select-dropdown * {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

.select-dropdown {
  position: relative;
  background-color: #E6E6E6;
  border-radius: 4px;
  display: inline-block;
}

.select-dropdown select {
  font-family: 'Asap Condensed', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  max-width: 100%;
  padding: 4px 24px 4px 10px;
  border: none;
  background-color: transparent;
  appearance: none;
  overflow: hidden;
}

.select-dropdown select:active, .select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}

.select-dropdown:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

/* range */
input[type=range] {
}

output {
  background-color: #eee;
  border: solid 1px gray;
  border-radius: 4px;
  padding: 0px 4px;
  width: 60px;
  justify-content: right;
  display: flex;
}

.not-allowed {
  cursor: not-allowed;
}

.range_text input[type=number] {
  width: 285px;
}
/* Job History Table */

#jhistory {
  width: 100%;
}

#jhistory_head {
  background-color: black;
  color: #eee;
  text-align: center;
  padding: 4px 0px;
}

#jhistory_body tr:nth-child(2n+1) {background: #eee}
#jhistory_body tr:nth-child(2n) {background: #fff}

/* File Explorer */

.filechooser {
  display: none;
  height: 60%;
  left: 0;
  position: fixed;
  top: 0;
  width: 40%;
  border: 1px solid black;
  /* border-radius: 4px 4px 4px 4px; */
  /* border-radius: calc(5px * var(--ratio)); */
  box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  padding: 0;
  line-height: unset;
  font-size: 1.2em;
}

.filechooser[open]  {
    display: grid;
    grid-template-rows: 40px 40px 28px 1fr 40px;
    overflow: unset;
}

/* reset */
dialog ul {
  position: unset;
  width: unset;
  height: unset;
  list-style: none;
}

dialog a {
  all: unset;
  cursor: pointer;
  margin: 0;
  color: #444;
}

dialog .header {
  padding: 0 10px;
  background-color: #ddd; /*#3288bd; */
  line-height: 40px;
}

dialog .header nav {
  position: unset;
}

dialog .header nav ul {
  display: flex;
}

dialog .header .space {
  display: inline-block;
  width: 40px;
}

dialog .header nav li:nth-child(2) {
  margin-left: auto;
}

.filechooser .submenu {
  display: block;
  width: 120px;
  z-index: 99;
  position: absolute;
  border: solid 1px #ccc;
  /* padding: 10px; */
  background-color: #eee;
  box-shadow: #444;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  line-height: 1.4em;
/* 
  left: 520px;
  visibility: hidden; 
 */
}

.filechooser .submenu li {
  cursor: pointer;
}

.filechooser .submenu li:hover {
  background-color: #ccc;
}

.filechooser .submenu li::before {
  content: "\F26E";
  font-family: bootstrap-icons !important;
  vertical-align: middle;
}

.filechooser .submenu .menuitem::before {
  visibility: hidden;
}

.filechooser .submenu .menusep {
  border-top: solid  1px #ccc;
}

.filechooser .submenu .menusep::before {
  content: unset;
}


.filechooser .path {
  line-height: 40px;
  border-bottom: solid 1px #ccc;
  background-color: #f7f7f7;
}

.filechooser footer {
  height: unset;
  padding: 0;
  line-height: 40px;
  border-top: solid 1px #ccc;
  background-color: #eee;
  text-align: right;
}

.filechooser footer a {
  padding: 4px 10px;
  margin: 0 10px;
  background-color: #ddd; 
  border-radius: 4px; 
}

.filechooser footer a:hover {
  background-color: #ccc; 
}

.directory {
  font-weight: bold;
}

.filehead {
  display: grid;
  grid-template-columns: 31fr 120px 250px;
  margin: 0;
  padding: 0;
  border-bottom: solid 1px #ccc;
  background-color: #f7f7f7;
  color: #444;
  font-size: 0.9em;
}

.fileheaditem {
  text-align: center;
  border-right: solid 1px #ccc;
  background-color: #f7f7f7;
}

.filetree {
  width: 100%;
  height: 100%;
  font-size: 1em;
  /* border: solid 1px black; */
  background-color: #f7f7f7;
  color: #444;
  /*padding: 0px 10px;*/
  overflow: hidden;
  overflow-y: auto;
}


/* 

https://codepen.io/bcmdr/pen/VxGKwJ 

.filetree details  {
  padding: 0;
  border: unset;
  margin: 0;
}

.filetree details[open]  {
  padding-left: 0;
}

.filetree details > ul {
  padding-left: 1.5rem;
}

.filetree summary {
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.filetree details[open] summary {
  border: unset;
  padding: 0;
  margin: 0;
}
*/

.filetree ul {
  list-style: none;
  margin: 0;
}

.filetree li {
  margin:0 ;
  padding: 0;
}

.filetree .selected {
  background-color: #444;
}

.filetree .selected .file {
  color: #fff;
}

.filetree .selected .file i:last-child {
  visibility: visible;
}
/*
.filetree .selected::after {
  content: "\F271";
  color: #fff;
  font-family: bootstrap-icons !important;
  margin-right: 15px;
}

.filetree .check {
  margin-left: auto;
}

.filetree .selected a {
  color: #eee;
}
*/

.filetree a {
  display: inline-grid;
  grid-template-columns: 30px 1fr 120px 200px 50px;
  width: 100%;
  margin: 0px 10px;
  padding: 0;
}

.filetree .file i:last-child {
  visibility: hidden;
}

.filetree .size_bytes {
  text-align: right;
  margin-right: 15px;
}

.filetree .mdate {
  text-align: center;
}

.popup {
  display: none;
  height: 30%;
  left: 0;
  position: fixed;
  top: 0;
  width: 20%;
  border: 1px solid black;
  /* border-radius: 4px 4px 4px 4px; */
  /* border-radius: calc(5px * var(--ratio)); */
  box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  padding: 0;
  line-height: unset;
  font-size: 1.2em;
}

.popup[open]  {
    display: grid;
    grid-template-rows: 40px 40px 1fr 40px;
    overflow: unset;
}

.popup::backdrop {
  display: none;
}

/** Next **/

.h1 {
  margin: 2rem 0 1rem;
  font-weight: 900;
}

.h2 {
  margin: 2rem 0 1rem;
  font-weight: 800;
}

p {
  color: var(--grey-color);
  letter-spacing: var(--leading, 0.025em);
  line-height: 1.625;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex.flex-space-between {
  justify-content: space-between;
}

.flex button {
  margin: 8px auto;
}


